body {
  background-color: gray;
}
.grid {
  width: 100%;
}
table {
  width: 100%;
}
td {
  width: 6.6666666666666666%;
  position: relative;
  background-color: gold;
  border: 1px solid gray;
  text-align: center;
}
i {
  font-style: normal;
  border: 1px solid gray;
  display: inline-block;
}

#cubes {
  text-align: center;
}

.btn {
  margin: 2px;
}
.black-button {
  color: white;
  background-color: black;
}
.white-button {
  color: black;
  background-color: white;
}

.visited {
  background-color: silver;
}

.start {
  background-color: green;
  cursor: pointer;
}

.start.active {
  background-color: #88ff88;
}

.corner {
  position: absolute;
  display: none;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
